* {
    margin: 0px;
    box-sizing: border-box; /* Adicionei esta linha para garantir que o padding e a borda sejam incluídos nas dimensões */
}

body {
    background-color: #141e20; /* Cor de fundo do corpo */
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    border: 5px solid rgb(251, 255, 23); /* Borda verde */
    padding: 10px;
    display: flex; /* Usar flexbox para o header */
    justify-content: center;
    align-items: center; /* Alinhamento vertical centralizado */
    height: 60px; /* Defina uma altura fixa, se necessário */
    background: #693B6D;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Usar repeat para facilitar a modificação */
    max-width: 1800px;
    margin: 0 auto;
    align-items: center;  
    text-align: center;
    /* padding: 0 20px;  */
    gap: 480px; /* Adiciona espaço entre as colunas */

}

.header-text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.3px; 
    margin-right: 25px;
}
.header-icons{
    margin-right: 10px;    
}

.header-contact {
    display: flex; /* Adicionei flex aqui para garantir o alinhamento */
    justify-content: flex-end; 
    align-items: center; /* Alinhamento vertical centralizado */
}

.header-contact-right  {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center; /* Alinhamento vertical centralizado */
}
nav{
    background: #2D2C2C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    border: 5px solid rgb(23, 255, 232); /* Borda verde */
    padding: 10px;
    display: flex; /* Usar flexbox para o header */
    justify-content: center;
    align-items: center; /* Alinhamento vertical centralizado */
    height: 134px; /* Defina uma altura fixa, se necessário */
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1500px;
    margin: 0 auto;
    align-items: center;  
    text-align: center;
    padding: 0 20px; /* Adiciona padding lateral para evitar que os elementos fiquem muito próximos das bordas */

}

.nav-img{
    display: flex; /* Adicionei flex aqui para garantir o alinhamento */
    align-items: center; /* Alinhamento vertical centralizado */
    justify-content: left;
    margin-right: 600px;


}

.nav-right{
    display: flex; /* Adicionei flex aqui para garantir o alinhamento */
    justify-content: flex-end; 
    align-items: center; /* Alinhamento vertical centralizado */        
}

.nav-text{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    margin-left: 90px;
}

.section-01-container {
    border: 5px solid rgb(255, 36, 218); /* Borda verde */
    width: 100%;
    height: 585px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Usar repeat para facilitar a modificação */
    background-image: url(/img/background-container-01.png);
    background-size: cover; /* Ajusta o background para preencher a largura */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem repita */
}


.section-01-img {
    position: relative;
}

.section-01-square {
    width: 443.917px;
    height: 469.401px;
    background-color: #d9d9d9;
    opacity: 10%;
    border-radius: 5%;
    position: absolute;
    bottom: 0;
    right: 21px;
    z-index: 1; /* Fica atrás da imagem */
}

#muie-capa {
    position: absolute;
    right: 15px;
    z-index: 2; /* Fica à frente do square */
}


