@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne&display=swap');

  
  /* Conteúdo */
  .editar-perfil-main {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .btn-voltar {
    align-self: flex-start;
    margin-left: 50px;
    background: none;
    border: none;
    color: #004587;
    font-weight: 600;
  }
  .teste{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  .profile-card-editar-perfil > a{
    font-family: "Croissant One";
    font-size: 16px;
  }
  .profile-card-editar-perfil {
    
    
    padding: 30px;
    height: 65vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px;
    margin-top: 100px;
    margin-left: 300px;
  }
  
  .profile-img-editar-perfil {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .change-image {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
 .input-group-editar-perfil {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
    color: var(--orange-senac-color);
    margin-top: 10px;
  }
  
  .input-group-editar-perfil label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    font-family: 'Montserrat';
    font-size: 16px;
  }
  
  .input-group-editar-perfil input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: white;
    color: black;
  }
  .input-group input{
    width: 430px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: white;
    color: black;
  }
  .input-group label{
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--orange-senac-color);
    font-family: 'Montserrat';
    font-size: 16px;
  }
  .btn-salvar-editar-perfil {
    background-color: #003366;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    margin-top: 40px;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
  }
  
.back-button-editar-perfil {
    display: flex;
    flex-direction: row;
    width: 50px;
    justify-content: flex-start;
    margin-right: 0;
    

}
