* {
    margin: 0px;
  }
  
  body {
    /* min-height: 100vh; */
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, conteúdo e footer */
    background-color: #141e20;
  }
  
  .footer-top {
    height: 25px;
    border: 5px solid green;
    color: green;
    padding: 10px;

  }
  
  header,
  main,
  footer {
    border: 5px solid green;
    color: green;
    padding: 10px;
  }
  
  nav {
    width: 70%;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    flex-shrink: 0;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr 100px;
    grid-template-areas:
      "h1"
      "section01"
      "section02";
    gap: 10px;
    flex-grow: 1;
  }
  
  main>h1 {
    grid-area: h1;
  }
  
  .section-01 {
    grid-area: section01;
    height: 585px;
  }
  
  .section-02 {
    grid-area: section02;
  }
  
  nav,
  section {
    border: 5px solid rgb(214, 214, 8);
    color: rgb(214, 214, 8);
    padding: 10px;
  }
  
  section>article {
    border: 5px solid blue;
    color: blue;
    height: 70px;
    margin-top: 5px;
    padding: 10px;
  }
  footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  height: 70px;
  border: 5px solid green;
  color: green;
  padding: 10px;
  background-color: #141e20;
}

  
  
  @media (max-width: 680px) {
    main {
      grid-template-columns: 1fr;
      grid-template-rows: 40px 1fr 100px;
      grid-template-areas:
        "h1"
        "section01"
        "section02";
      gap: 10px;
    }
  }
  