main{
    display: flex;
    flex-direction: column;
}

.section-01-container {
    border: 5px solid rgb(255, 36, 218); /* Borda rosa */
    height: auto; /* Altura fixa */
    display: grid; /* Usar grid para organizar o conteúdo */
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    padding: 1rem 2rem; /* Padding para evitar que os elementos toquem as bordas */
    overflow: hidden; /* Impede que os elementos saiam do container */
    box-sizing: border-box; /* Garante que o padding seja incluído no tamanho total */
    background-image: url(/img/background-container-01.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.section-01-img {
    display: flex;  /* Utiliza flexbox */
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
}

.section-01-img > img {
    max-width: 100%; /* Para manter a responsividade da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

.section-01-text{
    display: flex;
    flex-direction: column;
}
.section-01-text h1 {
    color: #FFF;
    font-family: "Croissant One";
    font-size: 46px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .section-01-text p {
    color: #FBF5F0;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.4;
    margin-top: 10px;
  }  
  
  .section-01-text button {
    width: 208px;
    height: 53px;
    border-radius: 3px;
    background: #693B6D;
    color: #FFF;
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px;
    gap: 10px;
  }
  
  .section-01-text img.icon {
    margin-left: 8px;
    width: 20px;
    height: auto;
  }

  .section-02-container {
    width: 100%;
    height: auto;
    /* border: 5px solid rgb(112, 248, 85);  */
    background: #FFF;
}

.section-02-container > h2 {
    margin-top: 2rem;
    color: #313131;
    text-align: center;
    font-family: "Croissant One";
    font-size: 23.07px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.461px;
    text-transform: uppercase;
}
.section-02-container > h1 {
    color: #693B6D;
    text-align: center;
    font-family: "Croissant One";
    font-size: 35.029px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.701px;
    text-transform: uppercase;
}
.section-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.card {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    height: 290px;
    border-radius: 10px;
    background-blend-mode: multiply;
    border-radius: 10px;
    border: 1.5px solid rgb(0, 0, 0); 
    display: flex;
    flex-direction: column; /* Alinhar os elementos verticalmente */
    justify-content: space-between; /* Garante que o botão fique na parte inferior */

}
.card > h3{
    color: #693B6D;
    text-align: center;
    font-family: "Croissant One";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 30.8px */
    letter-spacing: 0.44px;
}
.description {
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 21px */
    letter-spacing: 0.3px;

}
.price{
    color: #020202;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: bold;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
    letter-spacing: 0.36px;
}
.card > button{
    border-radius: 3px;
    background: #693B6D;
    width: 193px;
    height: 47px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 21px */
    align-self: center; /* Centraliza o botão horizontalmente */

}
.section-02-location{
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinha o ícone e o texto verticalmente */
    justify-content: center; /* Alinhamento horizontal */
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
    margin: 2rem 0;


}
.section-02-location > h1{
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 93.75% */
}

/* DEPOIMENTOS */

.testimonials-container {
    position: relative; /* Define o posicionamento relativo para que os elementos filhos (como a película) possam ser posicionados em relação a este container */
    text-align: center; /* Centraliza o texto dentro do container */
    overflow: hidden; /* Impede que qualquer conteúdo que ultrapasse os limites do container seja exibido */
    height: auto; /* Define a altura como automática para se ajustar ao conteúdo */
    display: flex; /* Adicionado */
    flex-direction: column; /* Adicionado */
    align-items: center; /* Adicionado */
    gap: 2rem;
    padding: 2rem;
}

/* Película com a cor */
.testimonials-container::before {
    content: ''; /* Cria um elemento de conteúdo vazio para atuar como a película */
    position: absolute; /* Posiciona este pseudo-elemento independentemente dos outros elementos */
    top: 0; /* Posiciona no topo do container */
    left: 0; /* Posiciona à esquerda do container */
    width: 100%; /* Define a largura para cobrir 100% da largura do container */
    height: 100%; /* Define a altura para cobrir 100% da altura do container */
    background-color: rgba(89, 63, 169, 0.29); /* Cor roxa com 29% de opacidade, criando o efeito de película */
    z-index: 1; /* Define a ordem da película abaixo do conteúdo (elementos com z-index maior irão aparecer acima) */
}

.testimonials-container > h2{
    color: #693B6D;
    text-align: center;
    font-family: Syne;
    font-size: 35.029px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.701px;
}


/* Conteúdo da seção */
.testimonial-card {
    position: relative; /* Define o conteúdo como relativo ao seu posicionamento padrão (essencial para funcionar com o z-index) */
    z-index: 2; /* O conteúdo terá um z-index maior que o pseudo-elemento da película, garantindo que ele fique acima da película */
    width: 600px;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
    padding: 2rem 3rem;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 5px;

}
.testiomnials-text{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.testiomnials-text > img {
    height: 35px;
}

.testiomnials-text > p {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
}

.testimonial-profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
    margin-top: 2rem;
    gap: 2rem;

}

.profile-name{
    color: #000;
    font-family: Syne;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.34px;
}

.profile-role{
    color: #593FA9;
    font-family: Syne;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.3px;
}