* {
    margin: 0; /* Remove a margem padrão */
    box-sizing: border-box; /* Inclui padding e bordas nas dimensões */
}

html, body {
    height: 100%; /* Garante que o body preencha toda a altura da página */
    background-color: #141e20; /* Cor de fundo do corpo */
    display: flex; /* Usar flexbox para alinhar os elementos */
    flex-direction: column; /* Coluna como direção principal */
    /* flex-wrap: wrap; */
}


header {
    width: 100%; /* Largura total do header */
    border: 5px solid rgb(251, 255, 23); /* Borda amarela */
    padding: 10px; /* Espaço interno */
    display: flex; /* Usar flexbox para o header */
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center; /* Alinhamento vertical centralizado */
    height: 60px; /* Altura fixa */
    background: #693B6D; /* Cor de fundo do header */
}

.header-container {
    display: grid; /* Usar grid para organizar o conteúdo */
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    max-width: 1800px; /* Largura máxima */
    margin: 0 auto; /* Centraliza horizontalmente */
    align-items: center; /* Alinha itens verticalmente */
    text-align: center; /* Centraliza texto */
    /* gap: 480px; Espaço entre colunas (ajuste conforme necessário) */
}

.header-text {
    color: #FFF; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    font-family: Inter; /* Fonte do texto */
    font-size: 10px; /* Tamanho da fonte */
    font-weight: 500; /* Peso da fonte */
    line-height: normal; /* Altura da linha */
    letter-spacing: 0.3px; /* Espaçamento entre letras */
    margin-right: 25px; /* Margem à direita */
}

.header-icons {
    margin-right: 10px; /* Espaço entre ícones */
}

.header-contact {
    display: flex; /* Flexbox para alinhamento */
    justify-content: flex-end; /* Alinha à direita */
    align-items: center; /* Alinha verticalmente */
}

.header-contact-right {
    display: flex; /* Flexbox para alinhamento */
    gap: 15px; /* Espaço entre itens */
    justify-content: flex-end; /* Alinha à direita */
    align-items: center; /* Alinha verticalmente */
}

nav {
    background: #2D2C2C; /* Cor de fundo do nav */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05); /* Sombra */
    width: 100%; /* Largura total */
    border: 5px solid rgb(23, 255, 232); /* Borda verde */
    padding: 10px; /* Espaço interno */
    display: flex; /* Usar flexbox para o nav */
    justify-content: center; /* Centraliza conteúdo */
    align-items: center; /* Alinhamento vertical centralizado */
    height: 134px; /* Altura fixa */
}

.nav-container {
    display: grid; /* Usar grid para organizar o conteúdo */
    grid-template-columns: 2fr 1fr; /* Duas colunas */
    max-width: 1500px; /* Largura máxima */
    margin: 0 auto; /* Centraliza horizontalmente */
    align-items: center; /* Alinha itens verticalmente */
    text-align: center; /* Centraliza texto */
    padding: 0 20px; /* Padding lateral */
}

.nav-img {
    display: flex; /* Flexbox para alinhamento */
    align-items: center; /* Alinha verticalmente */
    justify-content: left; /* Alinha à esquerda */
}

.nav-right {
    display: flex; /* Flexbox para alinhamento */
    justify-content: flex-end; /* Alinha à direita */
    align-items: center; /* Alinha verticalmente */
}

.nav-text {
    color: #FFF; /* Cor do texto */
    text-align: center; /* Centraliza texto */
    font-family: Montserrat; /* Fonte do texto */
    font-size: 15px; /* Tamanho da fonte */
    font-style: normal; /* Estilo da fonte */
    font-weight: 500; /* Peso da fonte */
    line-height: normal; /* Altura da linha */
    letter-spacing: 0.3px; /* Espaçamento entre letras */
    text-transform: uppercase; /* Transforma texto em maiúsculas */
    margin-left: 90px; /* Margem à esquerda */
}

main{
    display: flex;
    flex-direction: column;
}

.section-01-container {
    border: 5px solid rgb(255, 36, 218); /* Borda rosa */
    height: auto; /* Altura fixa */
    display: grid; /* Usar grid para organizar o conteúdo */
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    padding: 1rem 2rem; /* Padding para evitar que os elementos toquem as bordas */
    overflow: hidden; /* Impede que os elementos saiam do container */
    box-sizing: border-box; /* Garante que o padding seja incluído no tamanho total */
    background-image: url(/img/background-container-01.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.section-01-img {
    display: flex;  /* Utiliza flexbox */
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
}

.section-01-img > img {
    max-width: 100%; /* Para manter a responsividade da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

.section-01-text{
    display: flex;
    flex-direction: column;
}
.section-01-text h1 {
    color: #FFF;
    font-family: "Croissant One";
    font-size: 46px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .section-01-text p {
    color: #FBF5F0;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.4;
    margin-top: 10px;
  }  
  
  .section-01-text button {
    width: 208px;
    height: 53px;
    border-radius: 3px;
    background: #693B6D;
    color: #FFF;
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px;
    gap: 10px;
  }
  
  .section-01-text img.icon {
    margin-left: 8px;
    width: 20px;
    height: auto;
  }

  .section-02-container {
    width: 100%;
    height: auto;
    border: 5px solid rgb(112, 248, 85); /* Borda rosa */
    background: #FFF;
}

.section-02-container > h2 {
    margin-top: 2rem;
    color: #313131;
    text-align: center;
    font-family: "Croissant One";
    font-size: 23.07px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.461px;
    text-transform: uppercase;
}
.section-02-container > h1 {
    color: #693B6D;
    text-align: center;
    font-family: "Croissant One";
    font-size: 35.029px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.701px;
    text-transform: uppercase;
}
.section-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.card {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    height: 290px;
    border-radius: 10px;
    background-blend-mode: multiply;
    border-radius: 10px;
    border: 1.5px solid rgb(0, 0, 0); 
    display: flex;
    flex-direction: column; /* Alinhar os elementos verticalmente */
    justify-content: space-between; /* Garante que o botão fique na parte inferior */

}
.card > h3{
    color: #693B6D;
    text-align: center;
    font-family: "Croissant One";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 30.8px */
    letter-spacing: 0.44px;
}
.description {
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 21px */
    letter-spacing: 0.3px;

}
.price{
    color: #020202;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: bold;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
    letter-spacing: 0.36px;
}
.card > button{
    border-radius: 3px;
    background: #693B6D;
    width: 193px;
    height: 47px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 21px */
    align-self: center; /* Centraliza o botão horizontalmente */

}
.section-02-location{
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinha o ícone e o texto verticalmente */
    justify-content: center; /* Alinhamento horizontal */
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
    margin: 2rem 0;


}
.section-02-location > h1{
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 93.75% */
}


/* SEÇÃO 03 IMAGENS */


.section-03-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 5px solid rgb(255, 0, 0); /* Borda rosa */
}

.img-left, .img-right {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.section-03-image {
    width: 100%;
    height: auto;
    filter: brightness(0.7); /* Escurece a imagem para destacar o texto */
}

.section-03-content {
    position: absolute;
    bottom: 20px;
    color: white;
    max-width: 640px; 
    /* padding: 0 2rem; */
    padding-bottom: 2rem ; 
    padding-left: 4rem;

}

.section03-content-h2 {
    color: #FFF;
    font-family: Syne;
    font-size: 23.07px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.461px;
    text-transform: uppercase;
}

.section03-content-h1 {
    color: #C8A180;
    font-family: Syne;
    font-size: 35.029px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.701px;
    text-transform: uppercase;
    
}

.section03-content-p{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.32px;
}

.section-03-container > button {
    background-color: #693B6D; /* Cor de fundo do botão */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    position: absolute; /* Para posicionamento dentro da imagem */
    bottom: 20px; /* Ajuste conforme necessário */
    left: 20px; /* Ajuste conforme necessário */
}
.section03-content-b{
    width: 192.786px;
    height: 43.069px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #D9B79A;
    color: #313131;
    text-align: center;
    font-family: Syne;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 21px */
}


/* NEWSLETTER */

.newsletter-container{
    width: 100%;
    height: auto;
    background-image: url(/img/newsletter-background.png);
    background-size: cover;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center;
    padding: 3rem 0rem;
}

.newsletter-content > h2{
    color: #D9B79A;
    text-align: center;
    font-family: Syne;
    font-size: 23.07px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.461px;
}

.newsletter-content > h1{
    color: #FFF;
    text-align: center;
    font-family: Syne;
    font-size: 35.029px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.701px;
}
.newsletter-content > p{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.32px;
    margin: 2rem;
}

.newsletter-content > input{
    width: 429px;
    height: 56px;
    border-radius: 5px;
    padding: 0 1rem; 

    
    
}
.newsletter-content > input::placeholder{
    color: #8D8D8D;
    font-family: Syne;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 140%; */
}

.newsletter-content > button{
    border-radius: 5px;
    background: #000;
    width: 190px;
    height: 56px;
    color: #FFF;
    text-align: center;
    font-family: Syne;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 140%; */
}

/* PROFISSIONAIS */

/* Container principal que engloba o layout */
.professionals-section {
    display: flex;
    justify-content: space-between;
    background-color: #f7f3ef;
    height: auto;
}

/* Seção à esquerda */
.professionals-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-image: url('/img/profissionals-img-left.png');
    background-size: cover;
    /* background-position: center; */
    color: white;
    width: 637px;
    height: 560px;
    padding: 2rem;
}

.professionals-left h1, .professionals-left h2, .professionals-left p {

}
.professionals-left h2{
    color: #FFF;
    text-align: right;
    font-family: Syne;
    font-size: 23.07px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.461px;
}
.professionals-left > h1{
    color: #C8A180;
    text-align: right;
    font-family: Syne;
    font-size: 35.029px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.701px;

}

.professionals-left > p{
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.32px;

}

/* Seção à direita */
.professionals-right {
    width: calc(100% - 637px); /* Deixa a largura proporcional à sobra da esquerda */
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 2rem;
}

.professional-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 202px;
    height: 369px;
    /* border: 5px solid #000;  */
    gap: 2px;

}

.professional-card > img {
    width: 100%;
    border-radius: 8px;
}

.professional-card h3 {
    color: #313131;
    font-family: Syne;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.44px;
    margin: 20px 5px;
}

.professional-card p {
    color: #CDA582;
    font-family: Syne;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.34px;
    margin: 10px 5px;


}
.professional-card hr {
    /* width: 202px; */
    height: 0; /* Não precisamos definir altura quando usar border */
    border: 1px solid #CDA582; /* Define a cor e espessura da borda */
    margin: 10px 5px;

}

.social-icons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center; 
    padding: 0 10px;    /* Alinha verticalmente */
}

.social-icons > a {
    cursor: pointer;
}







