/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

header {
    background-color: #004587;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

main {
    display: flex;
    justify-content: flex-end; /* Alinha a caixa para a direita */
    align-items: center; /* Centraliza verticalmente */
    padding: 30px;
    background-color: white;
    height: 100vh; /* Ocupa toda a altura da tela */
}

.summary-box {
    text-align: center;
    background-color: #004587;
    color: white;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.summary-box h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.summary-box p {
    font-size: 16px;
    margin-bottom: 20px;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.card {
    width: 45%;
    background-color: #004587;
    border: 1px solid #ffa726;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    color: white;
}

.card .label {
    font-size: 14px;
    color: #ffa726;
    margin-bottom: 5px;
}

.card .value {
    font-size: 16px;
    font-weight: bold;
}

.download {
    margin-top: 20px;
    font-size: 16px;
}

.download .icon {
    display: block;
    font-size: 24px;
    margin-top: 5px;
    cursor: pointer;
}
