@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.escolher-section-02-container {
  width: 100%;
  height: auto;
  background: #fff;
  padding-bottom: 5rem;
}

.escolher-section-02-container > h2 {
  margin-top: 2rem;
  color: #313131;
  text-align: center;
  font-family: "Croissant One", serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.461px;
  text-transform: uppercase;
}

.escolher-section-02-container > h1 {
  color: var(--blue-senac-color);
  text-align: center;
  font-family: "Croissant One", serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.701px;
  text-transform: uppercase;
}

.escolher-section-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.escolher-card {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease;
  height: 300px;
  border: 1.5px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
}

.escolher-card > h3 {
  color: var(--blue-senac-color);
  text-align: center;
  font-family: "Croissant One", serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
}

.escolher-price {
  color: #020202;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: bold;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.36px;
}

.escolher-section-02-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.escolher-section-02-location > h1 {
  color: #000;
  font-family: "Montserrat", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.escolher-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.escolher-text-card-categories-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.escolher-arrow-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.escolher-arrow-img:hover {
  transform: scale(1.05) translateY(-50%);
}

.escolher-arrow-img:first-child {
  left: 350px;
}

.escolher-arrow-img:last-child {
  right: 350px;
}

.escolher-text-card-categories {
  color: #000;
  text-align: center;
  font-family: "Croissant One";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  max-width: 350px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.escolher-description {
  color: #000;
  text-align: center;
  font-family: "Montserrat", serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.3px;
}

.escolher-card-selected {
  background-color: #d9b79a;
  border-color: #8a6d3b;
}

.escolher-card input[type="checkbox"] {
  margin-top: 10px;
  transform: scale(1.2);
}
