@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.section-02-container {
  width: 100%;
  height: auto;
  background: #fff;
  padding-bottom: 3rem;
}

.section-02-container > h2 {
  margin-top: 2rem;
  color: #313131;
  text-align: center;
  font-family: "Croissant One", serif;
  font-size: 23.07px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.461px;
  text-transform: uppercase;
}

.section-02-container > h1 {
  color: var(--blue-senac-color);
  text-align: center;
  font-family: "Croissant One", serif;
  font-size: 35.029px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.701px;
  text-transform: uppercase;
}

.section-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  height: 350px;
  border-radius: 10px;
  background-blend-mode: multiply;
  border: 1.5px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column; /* Alinhar os elementos verticalmente */
  justify-content: space-between; /* Garante que o conteúdo fique bem distribuído */
}

.card > h3 {
  color: var(--blue-senac-color);
  text-align: center;
  font-family: "Croissant One", serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 30.8px */
  letter-spacing: 0.44px;
}



.price {
  color: #020202;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: bold;
  font-weight: 600;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.36px;
}

.section-02-location {
  display: flex;
  flex-direction: row;
  align-items: center; /* Alinha o ícone e o texto verticalmente */
  justify-content: center; /* Alinhamento horizontal */
  margin: 2rem 0;
}

.section-02-location > h1 {
  color: #000;
  font-family: "Montserrat", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 93.75% */
}

.card:hover {
  transform: scale(1.05); /* Aumenta ligeiramente o botão */
  cursor: pointer;
}  

.text-card-categories-container{
  display: flex;
  justify-content: center;
  
}

.arrow-img:hover {
  transform: scale(1.05); /* Aumenta ligeiramente o botão */
  cursor: pointer;
}  

.text-card-categories {
  color: #000;
  text-align: center;
  font-family: "Croissant One";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  max-width: 350px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}