.footer-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    max-width: 480px;
    margin: 0 auto; /* Para centralizar a logo e o texto dentro da área disponível */
}


.footer-services-contacts {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-services h3, .footer-contact h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-services ul, .footer-contact ul {
    list-style: none;
    padding: 0;
}

.footer-services ul li, .footer-contact ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-contact ul li i {
    margin-right: 10px;
}

.footer-contact ul li i.fa-phone {
    content: "\f095"; /* FontAwesome icon */
}

.footer-contact ul li i.fa-whatsapp {
    content: "\f232"; /* FontAwesome icon */
}
.footer-contact a {
    text-decoration: none; /* Remove a linha azul dos links */
    color: inherit; /* Mantém a cor do texto pai (pode ser alterado conforme necessário) */
    transition: color 0.3s; /* Suaviza a mudança de cor no hover */
}

.footer-contact a:hover {
    color: #693B6D; /* Altera a cor do link ao passar o mouse (opcional) */
}