@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


nav {
    background: #2D2C2C; /* Cor de fundo do nav */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05); /* Sombra */
    width: 100%; /* Largura total */
    /* border: 5px solid rgb(23, 255, 232); Borda verde */
    padding: 10px; /* Espaço interno */
    display: flex; /* Usar flexbox para o nav */
    justify-content: center; /* Centraliza conteúdo */
    align-items: center; /* Alinhamento vertical centralizado */
    height: 134px; /* Altura fixa */
}

.nav-container {
    display: grid; /* Usar grid para organizar o conteúdo */
    grid-template-columns: 2fr 1fr; /* Duas colunas */
    max-width: 1500px; /* Largura máxima */
    margin: 0 auto; /* Centraliza horizontalmente */
    align-items: center; /* Alinha itens verticalmente */
    text-align: center; /* Centraliza texto */
    padding: 0 20px; /* Padding lateral */
}

.nav-img {
    display: flex; /* Flexbox para alinhamento */
    align-items: center; /* Alinha verticalmente */
    justify-content: left; /* Alinha à esquerda */
}

.nav-right {
    display: flex; /* Flexbox para alinhamento */
    justify-content: flex-end; /* Alinha à direita */
    align-items: center; /* Alinha verticalmente */
}

.nav-text {
    color: #FFF; /* Cor do texto */
    text-align: center; /* Centraliza texto */
    font-family: Montserrat; /* Fonte do texto */
    font-size: 15px; /* Tamanho da fonte */
    font-style: normal; /* Estilo da fonte */
    font-weight: 500; /* Peso da fonte */
    line-height: normal; /* Altura da linha */
    letter-spacing: 0.3px; /* Espaçamento entre letras */
    text-transform: uppercase; /* Transforma texto em maiúsculas */
    margin-left: 90px; /* Margem à esquerda */
}